html {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.translate {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.music-list {
  background-color: #1e2749;
  flex-grow: 1;
  width: 30vw;
  min-width: 14.2rem;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}
.music-list__img-exit {
  width: 2.5rem;
  display: none;
  cursor: pointer;
}
.music-list__title {
  font-weight: 700;
  flex-grow: 0;
}
.music-list__ul {
  flex-grow: 2;
  width: 100%;
}
.music-list__li {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  cursor: pointer;
  background-color: rgba(39, 52, 105, 0.5);
  backdrop-filter: blur(2px);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}
.music-list__figure {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.music-list__img {
  object-position: right top;
  object-fit: cover;
  width: 30%;
  height: 4rem;
}
.music-list__name {
  font-size: clamp(0.8rem, 1.25vw, 2.5rem);
}
.music-list__nav {
  flex-grow: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.music-list__a {
  width: 3.5rem;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}
.music-list__a:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.container-reproductor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  background-color: #273469;
  width: 100%;
  position: relative;
}
.container-reproductor__play-list {
  width: 2.5rem;
  display: none;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  cursor: pointer;
}
.container-reproductor__controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container-reproductor__img {
  object-position: right top;
  height: 12.5rem;
  margin-bottom: 0.5rem;
}
.container-reproductor__figure {
  width: 80%;
  text-align: center;
}
.container-reproductor__music {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 19.5rem;
  min-height: 20rem;
  height: 40vh;
  background-color: rgba(30, 39, 73, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.container-reproductor__music:hover * {
  opacity: 1;
}
.container-reproductor__temporizador {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.container-reproductor__num {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 200;
}
.container-reproductor__content-progress {
  background-image: linear-gradient(#30343f, #1e2749);
  display: block;
  width: 90%;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.container-reproductor__progress {
  display: block;
  border-radius: inherit;
  height: 0.5rem;
  width: 0%;
  background-color: #fafaff;
  position: relative;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.container-reproductor__circle {
  position: absolute;
  right: -10px;
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  z-index: 2;
  background-color: #e4d9ff;
  opacity: 0;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
}
.container-reproductor__title {
  font-size: 1.5rem;
}
.container-reproductor__i {
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  body {
    display: block;
    position: relative;
    min-height: 100vh;
    width: 100vw;
  }
  .music-list {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .music-list__name {
    font-size: 1rem;
  }
  .music-list__img-exit {
    display: block;
  }
  .container-reproductor {
    width: 100vw;
    height: 100vh;
  }
  .container-reproductor__play-list {
    display: block;
  }
  .container-reproductor__circle {
    opacity: 1;
  }
}
@media screen and (max-width: 320px) {
  .container-reproductor {
    width: 100vw;
  }
  .container-reproductor__music {
    min-width: 250px;
  }
  .container-reproductor__title {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
